#main-content
  #elev-pitch-1
    %h4.text.right Let everyone know what your babies are doing and cherish the happy memories.
    %br
    %center
      = link_to image_tag('facebook.png'), user_omniauth_authorize_path(:facebook)
  
  - if false
    #sign-in-container
      %h4 Try out <span><img src="/assets/bimby-white-small.png"></img></span> today.

  - if false
    - if user_signed_in?
      %h: Hello #{current_user.full_name}
    - else
      %h1 Sign up now for your Bimby account


    = link_to "Login with fb", user_omniauth_authorize_path(:facebook) if !user_signed_in?
    = link_to "Sign Out", destroy_session_path(:user), method: :delete if user_signed_in?

#how-it-works
  .centerify
    .text You know what? It's so easy!
    .v-spacer50
    .sub-text Just like singing the A B C.
    - 5.times do
      %br
  .row
    %center
      .large-4.columns
        //%i.general.foundicon-video
        = image_tag 'baby-photog.jpg'
        %h3 Upload a Photo / Video
        %p Take an awesome picture of your baby or even a 30 secs video proving what your baby can do now.
      .large-4.columns
        //%i.general.foundicon-smiley
        = image_tag 'baby-fed.jpg'
        %h3 Choose a Milestone
        %p For every milestone that they achieve, they earn a badge that can let you track if they're growing well.
      .large-4.columns
        = image_tag 'tattoo-baby.jpg'
        %h3 Share It!
        %p After choosing a milestone, you're now good to share the happiness within you. Congratulations!

:javascript

  var windowHeight = $(window).height();
  var main_content = $('#main-content');

  $(document).ready(function(){
    main_content.css('min-height', windowHeight - 104 );
  });
