.large-4.columns.pull-8#profile
  .panel
    %center
      %a{:href => "#"}
        - if @profile_photo.present?
          = image_tag @profile_photo.full_url
        - else 
          = image_tag "http://placehold.it/300x240&text=[img]"
      %h5
        =link_to  @baby.name.present? ? @baby.name : "Baby Name", babies_path
    .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
      - if @baby.milestones
        - @baby.milestones.each do |milestone|
          - if milestone
            - if milestone.milestone_type.name.include? 'Pincer'
              = image_tag 'palmar_grasp.png', style: 'max-height: 60px;'
    = link_to "See #{@baby.first_name}'s Growth", growth_baby_path(@baby)
    %br
    %br
    = link_to "Consult a Pedia", "#"
