//#header-with-logo
.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        = link_to root_path do
          = image_tag 'bimby-small.png'
  - if controller.action_name.eql? 'landing' and controller.controller_name.eql? 'pages'
    .top-bar-section
      / Right Nav Section
      %ul.right
        %li
          %p
            = link_to "#how-it-works" do
              How It Works
        %li
          %p
            = link_to "#" do
              About
        %li
          %p
            = link_to "#", :'data-reveal-id' => 'contactModal', class: 'padded'do
              Contact Us

  - if user_signed_in?
    .top-bar-section
      / Right Nav Section
      %ul.right
        %li
          %p
            - begin
              = link_to new_baby_milestone_path(@baby) do
                %i.general.foundicon-plus.minified
                Add a Milestone
            - rescue
        
        -#%li
          -#%p
            -#= link_to baby_milestones_path do
              -#Milestones Achieved
        %li
          %p
            = link_to destroy_session_path(:user), method: :delete do
              Sign Out
    
